.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  /* padding-bottom: 20px; */
  /* background:  rgb(195, 187, 187); */
  background-color: pink;
}
#three-button-container {
  display: none;
  /* height: 100%; */
  /* background-color: red; */
}
/* .container {
  height: 100vh;
  width: 100vw;
} */
.callButton {
  background-color: #4fb64f;
}

.btn-makeCall {
  background-color: rgba(79, 182, 79, 1);
}

.btn-makeCall:hover {
  background-color: rgba(79, 182, 79, 0.5); /* Adjust opacity as needed */
}
.btn-endCall {
  background-color: rgba(201, 63, 63, 1);
}

.btn-endCall:hover {
  background-color: rgba(201, 63, 63, 0.7);
}
.btn-muteUnmuteCall {
  background-color: rgba(0, 0, 0, 1);
}

.btn-muteUnmuteCall:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 770px) {
  .button-container {
    flex-direction: row;
  }

  .three-buttons-container {
    display: flex;
    justify-content: center;
  }

  .btn-lg {
    width: 250px;
  }
}
@media (max-width: 770px) {
  .signal-container {
    display: none;
  }
}

/* Speed */
.signal-indicator-icon {
  display: flex;
  float: right;
}

.speed-type {
  font-size: 10pt;
}

.signal-container {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 0;
  height: 100%;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.logo img {
  max-width: 100px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline;
  margin-left: 20px; /* Adjust the spacing between buttons */
}

.nav-list li:first-child {
  margin-left: 0; /* No margin for the first button */
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-list li a:hover {
  text-decoration: underline;
}
